**/*.ts
**/.git
.husky
.vscode
.eslintignore
.eslintrc.js
.envrc
tsconfig.json
webpack.config.js
node_modules/
.gitignore
.prettierignore
.vscode-test.mjs
src/*[!.css]
syntaxes/*.iro

server/
_build/
.github/
test-case-parser/
Makefile
dune-project
catala-lsp.opam
.aider*
.aider.tags.cache.v*/
