**/*.ts
**/.git
.husky
.vscode
.eslintignore
.eslintrc.js
.envrc
CONVENTIONS.md
dune
eslint.config.mjs
knip.json
tsconfig.json
webpack.config.js
node_modules/
vitest.config.mts
.gitignore
.prettierignore
.vscode-test.mjs
src/*[!.css]
syntaxes/*.iro

catala-atd/
lint_scripts/
tests/
ui-harness/
server/
_build/
.github/
test-case-parser/
Makefile
dune-project
catala-lsp.opam
purgecss-check.js
clerk.toml
.aider*
.aider.tags.cache.v*/
.claude/
.devcontainer/
