**/*.ts
**/.git
.husky
.vscode
.eslintignore
.eslintrc.js
tsconfig.json
webpack.config.js
node_modules/
.gitignore
.prettierignore
.vscode-test.mjs
src/
syntaxes/*.iro

server/
_build/
test-case-parser/
Makefile
dune-project
catala-lsp.opam