.composite-editor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.simple-items-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 16px;
}

.simple-item {
  box-sizing: border-box;
  min-width: 150px;
/*   max-width: 250px; */
}

.simple-items-vertical {
  display: flex;
  flex-direction: column;
  gap: var(--spacing8);
}

.simple-item-vertical {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}

.item-label {
  text-transform: capitalize;
  display: block;
  font-weight: var(--field-label-font-weight);
  margin-bottom: var(--spacing8);
  font-size: var(--field-label-font-size);
}

/* tabbed */
.complex-items-container {
  overflow: hidden;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--card-border-light);
  overflow-y: scroll;
  box-sizing: content-box;
}

.tab {
  padding: var(--spacing8) var(--spacing12) var(--spacing8) var(--spacing12);
  border: none;
  background: none;
  cursor: pointer;  
  font-weight: 500;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
}

.tab.active {
  opacity: 1;
}

.tab-panel {
  padding: 16px;
}

.tab-panel.hidden {
  display: none;
}

.tab-panel.active {
  display: block;
}
