.composite-editor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.simple-items-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 16px;
}

.simple-item {
  min-width: 150px;
  max-width: 250px;
}

.simple-items-vertical {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.simple-item-vertical {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 0;
}

.item-label {
  display: block;
  font-weight: var(--field-label-font-weight);
  margin-bottom: 6px;
  color: var(--field-label-color);
  font-size: var(--field-label-font-size);
}

/* tabbed */
.complex-items-container {
  overflow: hidden;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--card-border-light);
}

.tab {
  padding: 10px 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--vscode-foreground);
  opacity: 0.7;
  font-weight: 500;
  position: relative;
}

.tab.active {
  opacity: 1;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--tab-active-border);
}

.tab:hover {
  background-color: var(--tab-hover-background);
}

.tab-content {
  background-color: var(--level-2-background);
}

.tab-panel {
  padding: 16px;
}

.tab-panel.hidden {
  display: none;
}

.tab-panel.active {
  display: block;
}
