.struct-editor {
  margin-bottom: 15px;
}

.struct-editor .struct-name {
  font-style: italic;
  font-size: 12px;
  text-decoration: underline;
  padding: 6px;
}

.struct-container {
  margin-bottom: 15px;
}
