.test-editor {
  margin-bottom: 20px;
  border: 1px solid var(--vscode-editor-foreground);
  border-radius: 4px;
}

.test-editor-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--vscode-editor-background);
  padding: 8px;
  border-bottom: 1px solid var(--vscode-editor-foreground);
}

.test-editor-scope {
  font-weight: bold;
  flex-grow: 1;
  margin-left: 8px;
}

.test-editor-run,
.test-editor-delete {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--vscode-editor-foreground);
  font-size: 16px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-editor-run:hover,
.test-editor-delete:hover {
  background: var(--vscode-toolbar-hoverBackground);
}

.test-editor-run {
  color: var(--vscode-testing-iconPassed);
}

.test-editor-run .codicon {
  font-size: 14px;
}

.test-editor-content {
  padding: 8px;
}

.struct-editor {
  margin-bottom: 15px;
}

.struct-editor table {
  width: 100%;
  border-collapse: collapse;
}

.struct-editor th,
.struct-editor td {
  padding: 6px;
  border: 1px solid var(--vscode-editor-foreground);
  text-align: left;
}

.struct-editor .struct-name {
  background-color: var(--vscode-symbolIcon-structForeground);
  color: var(--vscode-editor-background);
  font-style: italic;
  font-size: 12px;
  padding: 6px;
}

.struct-editor .field-name {
  width: 30%;
  font-weight: bold;
  color: var(--vscode-symbolIcon-propertyForeground);
}

.test-section {
  margin-bottom: 15px;
}

.test-section-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--vscode-editor-foreground);
  color: var(--vscode-editor-foreground);
}

.struct-editor input,
.struct-editor select {
  width: calc(100% - 10px); /* Subtract padding and border */
  padding: 4px;
  border: 1px solid var(--vscode-input-border);
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  box-sizing: border-box;
}

.struct-editor input:focus,
.struct-editor select:focus {
  outline: none;
  border-color: var(--vscode-focusBorder);
}

.struct-editor td {
  padding: 6px;
  border: 1px solid var(--vscode-editor-foreground);
  text-align: left;
  vertical-align: top;
}
